@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

 $primary-text-color: #757575;
 $title-text-color: #212121;
 $accent: #2196f3;
 $section-color: #2f303a;
 $main-bcgd-color:#ffffff;
 $hero-title:#ffffff;
 $social-link-light: #ffffff;
 $team-item-bckgd: #ffffff;
 $regular-customers-bckgd: #ffffff;
 $speciality-text:#ffffff;
 $overlay-text:#ffffff;
 $form-button-text:#ffffff;
 $modal-bckgnd: #ffffff;
 $logo-light:#ffffff;
 $logo-dark: #000000;
 $modal-close-btn:#000000;
 $team-bckg: #f5f4fa;
 $footer-contacts: rgba(255, 255, 255, 0.6);
 $border-header: #ececec;
 $banner-gradient: rgba(47, 48, 58, 0.4);
 $social: #afb1b8;
 